body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    overflow: hidden;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(24, 207, 240, 0.411);
    animation: move 10s infinite;
    filter: blur(5px);
  }
  
  .circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 10%;
    animation-delay: 0s;
  }
  
  .circle:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 60%;
    left: 30%;
    animation-delay: 2s;
  }
  
  .circle:nth-child(3) {
    width: 200px;
    height: 200px;
    top: 30%;
    left: 75%;
    animation-delay: 4s;
  }
  
  .circle:nth-child(4) {
    width: 200px;
    height: 200px;
    top: 80%;
    left: 50%;
    animation-delay: 6s;
  }
  
  .circle:nth-child(5) {
    width: 200px;
    height: 200px;
    top: 75%;
    left: 3%;
    animation-delay: 0s;
  }
  
  .circle:nth-child(6) {
    width: 150px;
    height: 150px;
    top: 15%;
    left: 30%;
    animation-delay: 2s;
  }
  
  .circle:nth-child(7) {
    width: 100px;
    height: 100px;
    top: 12%;
    left: 60%;
    animation-delay: 4s;
  }
  
  .circle:nth-child(8) {
    width: 150px;
    height: 150px;
    top: 80%;
    left: 80%;
    animation-delay: 6s;
  }

  @keyframes move {
    0% {
      transform: translate(0, 0);
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      background: rgba(24, 207, 240, 0.411);
    }
    50% {
      transform: translate(100px, -100px);
      border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
      background: rgba(24, 207, 240, 0.411);
    }
    100% {
      transform: translate(0, 0);
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      background: rgba(24, 207, 240, 0.411);
    }
  }

  