.auth-container {
    padding: 40px;
    background: var(--secondary-color);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(44, 44, 84, 0.73);
    text-align: center;
    color: var(--text-color);
    width: 100%;
    max-width: 400px;
    border-image: conic-gradient(from var(--angle), aqua, transparent, transparent, aqua, transparent, transparent, aqua) 1;
	height: 240px;
	animation: 1s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: -360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.auth-container h2 {
    margin-bottom: 20px;    
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: var(--ternary-color);
    color: var(--text-color);
    outline: none;
    transition: 0.3s;
    text-align: start;
}

input:focus {
    background: var(--quaternary-color);
}

input::placeholder {
    color: var(--text-color);
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background:var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--button-hover-color);
}

.toggle-text {
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color);
    transition: 0.3s;
}

.toggle-text:hover {
    color: var(--text-color);
}

@media (max-width: 480px) {
    .auth-container {
        padding: 30px;
        width: 80%;
    }
    input {
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
}

.code-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.code-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: var(--ternary-color);
    color: var(--text-color);
    outline: none;
    transition: 0.3s;
}

.code-input:focus {
    background: var(--quaternary-color);
}

.developer-docs-button-auth {
    padding: 5px;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 19px;
    display: flex;
    margin-left: 80px;
    position: absolute;
  }

.developer-docs-button-auth span {
    font-size: 15px;
    margin-left: 5px;
}

.docs-container {
    margin-top: 30px;
}